.env
.venv*
venv/
__pycache__/
*.log
.gitignore
.vscode/
.git/
node_modules/
dist/
build/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.toast
.lucid
.pre-commit-config.yaml
.ruff_cache
.pytest_cache
.mypy_cache
.coverage
htmlcov/
